.Background_Color{
    background-color: #f2f3f8;
}

/*Login Page CSS Code (User Login)*/

.Top_Name{
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    background-color: #FF8C00;
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
}

.Restaurant_Name{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.Welcome_Statement{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.User_Login_Container{
    background-color: rgb(252, 231, 173);
    width: fit-content;
    margin: auto;
    border: 2px solid;
    border-radius: 10%;
    padding: 20px;
    font-size: 20px;
}

.Top_Name b{
    color: white;
}

.Login_Button button{
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.Register_Account_Button button{
    margin-top: 20%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 20px;
}

.Register_Account_Button a{
    color: black;
}

.Register_Account_Button a:hover{
    text-decoration: none;
    color: white;
}

.Forget_Password_Button button{
    width: 56%;
    font-weight: bold;
    font-size: 20px;
}

.Forget_Password_Button a{
    color: black;
}

.Forget_Password_Button a:hover{
    text-decoration: none;
    color: white;
}

/*Login Page CSS Code (User Login)*/


/*Login Page CSS Code (Admin Login)*/

.Admin_Top_Name b{
    color: white;
}

.Admin_Top_Name{
    margin: auto;
    margin-top: 8%;
    width: fit-content;
    background-color: var(--green);
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
}

.Admin_Login_Container{
    background-color: rgb(252, 231, 173);
    width: fit-content;
    margin: auto;
    margin-bottom: 10%;
    border: 2px solid;
    border-radius: 10%;
    padding: 20px;
    font-size: 20px;
}

.Admin_Forget_Password_Button button{
    margin-top: 20%;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
}

.Admin_Forget_Password_Button a{
    color: black;
}

.Admin_Forget_Password_Button a:hover{
    text-decoration: none;
    color: white;
}

/*Login Page CSS Code (Admin Login)*/


/*Register Account Page CSS Code*/

.Register_Login_Top_Name{
    margin: auto;
    margin-top: 1%;
    width: fit-content;
    background-color: rgb(224, 236, 192);
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
    background-color: #1E90FF;
}

.Register_Login_Top_Name b{
    color: white;
}

.Register_User_Container{
    background-color: rgb(252, 231, 173);
    width: fit-content;
    margin: auto;
    margin-bottom: 10%;
    border: 2px solid;
    border-radius: 10%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.Register_User_Container start{
    font-weight: bold;
    color: red;
}

.form-check-input{
    width: 20px;
    height: 25px;
}

.declaration{
    text-align: left;
    margin-bottom: 3%;
}

.declaration span{
    color: red;
}

.Register_Now_Button button{
    width: 40%;
    color: white;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 20px;
}

.Regis_Cancel_Button button{
    width: 40%;
    font-weight: bold;
    font-size: 20px;
}

.Regis_Cancel_Button a{
    color: white;
}

.Regis_Cancel_Button a:hover{
    text-decoration: none;
    color: white;
}

/*Register Account Page CSS Code*/


/*Forgot Password Page CSS Code*/

.Forgot_Passowrd_Top_Name{
    margin: auto;
    margin-top: 7%;
    width: fit-content;
    background-color: red;
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
}

.Forgot_Passowrd_Top_Name b{
    color: white;
}

.Forgot_Passowrd_Container{
    background-color: rgb(252, 231, 173);
    width: fit-content;
    margin: auto;
    border: 2px solid;
    border-radius: 10%;
    padding: 20px;
    font-size: 20px;
}

.Forgot_Passowrd_ResetNow_Button{
    margin-top: 10%;
    float: right;
}

.Forgot_Passowrd_ResetNow_Button button{
    font-weight: bold;
    font-size: 20px;
}

.Forgot_Passowrd_LoginNow_Button button{
    margin-top: 10%;
    font-weight: bold;
    font-size: 20px;
}

.Forgot_Passowrd_LoginNow_Button a{
    color: white;
}

.Forgot_Passowrd_LoginNow_Button a:hover{
    text-decoration: none;
    color: white;
}

/*Forgot Password Page CSS Code*/


/*Check Out Page CSS Code*/

.Card_Top_Name{
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    background-color: rgb(247, 203, 149);
    padding: 10px 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.Detail_Box_Container{
    background-color: bisque;
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    border: 2px solid;
    border-radius: 3%;
    padding: 20px;
    font-size: 20px;
}

.bank_description{
    font-size: medium;
}

.bank_description start{
    color: red;
}

.Meal_Box_Container{
    margin-bottom: 10%;
}

.Payment_Cart_Page_Button{
    text-align: center;
    margin-bottom: 10%;
}

.Payment_Cart_Page_Button button{
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.Payment_Cart_Page_Button a{
    color: black;
}

.Payment_Cart_Page_Button a:hover{
    text-decoration: none;
    color: white;
}

.form-floating start{
    color: red;
}

/*Check Out Page CSS Code*/


/*Order History Page CSS Code*/

.header_bar_color table thead tr th{
    background-color: rgb(74, 145, 74);
    color: black;
    font-size: 20px;
}

/*Order History Page CSS Code*/
